<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="renderer" content="webkit|ie-stand|ie-comp" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title><%= title %></title>
    <link rel="stylesheet" href="/css/body/article.css">
</head>
<body>
    <div class="wrap">
        <div class="head">

        </div>
        <div class="content">
            <h1>article title</h1>
        </div>
        <div class="articleList">
            <%if(data){%>
            <ul>
                <%for(i in data){%>
                <%= i %>
                <li>
                    <img src="<%= data[i].uid.hpic%>" alt="用户头像" width="80" height="80">
                    <p>标题 : <a target="_blank" href="/art/<%=data[i]._id%>"><%= data[i].title %></a></p>
                    <p>类型 : <%= data[i].tips %></p>
                    <p>作者 : <%= data[i].uid.username %></p>
                    <p>
                        <%= data[i].content %>
                    </p>
                    <p>发布时间 : <%= data[i].created.toLocaleString()%></p>

                    <input type="hidden" value="<%= data[i].uid._id %>">
                    <input type="hidden" value="<%= data[i].uid.created.toLocaleString()%>">
                    <%if(session.role.length>4){%>
                    <a href="/article/del/<%= data[i]._id%>">删除</a>
                    <%}%>
                </li>
                <% }%>
            </ul>
            <p>共有 : <%= maxN %> 篇文章</p>
                <ul>
                    <% let lil = Math.ceil(maxN/5);
                        for(let i = 0;i<lil;i++ ){%>
                        <li style="display: inline-block"><a href="/article/<%=i+1%>">第<%=i+1%>页</a></li>
                    <% }%>
                </ul>
            <%}%>

        </div>
        <%if(!session.isNew){%>
        <div class="pl">
            <form action="/article" method="post">
                <textarea name="content" id="" cols="30" rows="10">em em em....</textarea>
                    <input type="hidden" value="<%= session.uid %>" name="uid">
            <input type="submit" value="提交">
            </form>
         </div>
        <%}else{%>
        <a href="/user/login">点击这里,立即登录!</a>
        <%}%>

        <div class="footer">

        </div>
    </div>
</body>
</html>